<!DOCTYPE html>
<html lang="en">
<head>
    #It specifies the character encoding for html document
    <meta charset="UTF-8">
    <meta name="viewport" contents="width=device-width,initial-scale=1.0">
    <title>Transaction</title>
</head>
<body>
    <div class="col=6">
        #mt- set top-margin and pt- set padding top
        <form class='mt-5 pt-5' method="POST">
            #csrf is generated for forms to send requests to the server
            {% csrf_token %}
            {% if messages %}
            <div class='alert alert-info'>
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            <div class="form-group">
                <input class="form-control" name="Sender" type="text" placeholder="first">
            </div>
            <div class="form-group mt-4">
                <input class="form-control" name="Receiver" type="text" placeholder="second">
            </div>
            <div class="form-group mt-4">
                <input class="form-control" name="Amount" type="text" placeholder="third">
            </div>

            <button type="submit" class="btn btn-success mt-3">Submit</button>
        </form>
    </div>
</body>
</html>
        